
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/****** Toggle du menu burger ******/
.toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: #000 url(img/menu.png);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 1000;
}

.toggle.active {
    background: rgb(255, 254, 254) url(img/close.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}

/******* Taille des sections **********/
section {
    padding: 150px;
    min-height: 90vh;
}

section.contact {
    max-height: 60vh;
    min-height: 591px;
}

/********* section n°1 - banner / Présentation **********/
.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgSidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 100%;
}

.banner .imgSidebar img  {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .contentBx,
.sidebar
{
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 500px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.logoText {
    position: absolute;
    top: 40px;
    left: 100px;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: #333;
    color: #fff;
    padding: 0 5px;
}

.banner .contentBx h4 {
    font-size:  1.5em;
    color: #333;
    font-weight: 900;
}

.banner .contentBx {
    max-width: 80%;
    padding-right: 10%;
}

.banner .contentBx h4 span {
    color:  #4b9fcc;
    font-size: 1.5em;
    font-weight: 700;
}

.banner .contentBx h2 {
    font-size: 3em;
    color: #333;
    line-height: 1em;
}

p {
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 300;
}

.btn {
    background: #4b9fcc;
    padding: 10px 30px;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff;
    overflow: hidden;
}

/*********** Liste du menu buger ************/
.sidebar {
    position: fixed;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  0.5s;
    padding: 40px;
    z-index: 100;
    right: -100%;
}

.sidebar.active {
    right: 0;
}

.sidebar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    margin: 10px 0;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.sidebar ul li a:hover {
    color: #4b9fcc;
}

/******** icônes de redirection **********/
.sci {
    position: absolute;
    left: 100px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    margin-right: 10px;
    list-style: none;
}

.sci li img {
    transform: scale(0.5);
    opacity: 0.7;
}

.sci li img:hover {
    opacity: 1;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    color: #4b9fcc;
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: 1px;
}

.title p {
    max-width: 700px;
    display: inline-block;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 60px;
    height: 4px;
    background: #000;
}

.title.white h2,
.title.white p {
    color: #fff;
}

.title.white h2::before {
    background: #fff;
}

/******** section n°2 - about / Compétences *********/
.about {
    background: #000;
}

section.about {
    padding: 150px 70px;
}

.about .content {
    margin-top: 140px;
}

.about .content .textBx {
    font-size: x-large;
}

.about hr {
    height: 1px;
    border: none;
    background: linear-gradient(to right, white, black, black, black, white);
}

.about .content hr.trait {
    bottom: -150px;
    position: relative;
    background: linear-gradient(to right, black, black, black, black, rgb(48, 47, 47), black, black, black, black);
}

.about .content .exp {
    display: flex;
}

.about .content .text_exp {
    padding: 25px 47px 25px 25px;
    font-size: 1.3em;
    letter-spacing: 3px;
    text-align: justify;
    text-justify: inter-word;
}

.about .content span {
    color:  #4b9fcc;
    font-size: 1.5em;
    font-weight: 700;
}

.about .content .text_exp,
.about .content .icon_exp {
    width: 50%;
}

.about .content .exp .gauche,
.about .content .exp .droite {
    width: 50%;
}

.about .content .exp .icon_exp {
    display: flex;
    padding-bottom: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/******** Icônes de ma stack ********/
.drop {
    position: relative;
    width: 120px;
    height: 120px;
    box-shadow:inset 1px 1px 1px rgba(19, 19, 19, 0.322), 14px 19px 9px rgba(19, 19, 19, 0.322), 5px 2px 2px rgba(19, 19, 19, 0.322), inset -1px 1px 9px rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 35px;
}

.drop img {
    display: flex;
    margin: auto;
    color: #000;
    width: 38%;
    height: 38%;
}

.drop img.linux,
.drop img.php {
    width: 47%;
    height: 47%;
}

.drop img.pug {
    width: 67%;
    height: 67%;
}

.drop ion-icon {
    color: #ffffff;
    width: 38%;
    height: 38%;
}

.drop .icon_text,
.drop:hover #img,
.drop:active #img,
.drop:hover .icon,
.drop:active .icon {
    display: none;
}

.drop .text_drop,
.drop .image_icon .text_drop {
    display: none;
}

.drop:hover .text_drop,
.drop:active .text_drop,
.drop:hover .image_icon .text_drop,
.drop:active .image_icon .text_drop {
    display: block;
    color: #060a11;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: -2px;
    text-align: center;
}

.drop:hover, .drop:active {
    box-shadow:  inset 3px 3px 3px 3px rgba(31, 31, 31, 0.9), 1px 1px 9px rgba(40, 40, 40, 0.9);
    background-color:rgb(198, 198, 198);
    transform: scale(1.1);
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    -o-transition: background-color 0.8s;
    transition: background-color 0.8s;
}

.about .title.white {
    color: #fff;
}

.about .title.white .h3 h3 {
    padding-top: 150px;
    text-align: left;
}

.about .title.white h3 {
    text-align: right;
}

.about .content .picto {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: -100px;
}

.about .content .picto img {
    max-width: 110px;
    max-height: 80px;
}

.about .content .picto .imgBx {
    display: flex;
    align-items: center;
    padding: 20px;
}

.about .content .picto #un img{
    max-width: 62px;
}

.work .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/******** section n°3 - work / Projets *********/
.work .content .workBx {
    position: relative;
    width: 265px;
    height: 265px;
    margin: 50px;
    transition: 0.5s;
    text-align: center;
}

.work .content .workBx .imgBx,
.work .content .workBx .textBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.work .content .workBx .textBx {
    background: #000;
    opacity: 0;
    transition: 0.5s;
}
.work .content .workBx .textBx a {
    text-decoration: none;
}
.work .content .workBx:hover .textBx {
    opacity: 1;
    scale: 1.2;
}

.work .content .workBx .textBx h3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
}
.work .content .workBx .textBx h3 small {
    color: rgb(174, 252, 248);
}

.work .bdp  {
    padding-top: 18vh;
    justify-content: space-around;
}

.work .bdp .content {
    justify-content: space-evenly;
    padding-top: 60px;
    margin: 30px 0 -20px 0
}

.work .bdp .pictoBx {
    max-width: 100%;
    text-align: center;
}
.work .bdp .pictoBx i {
    font-size: 1.8em;
}

.contact {
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/******** section n°4 - contact ********/
.contact .ligne {
    font-size: 0.9em;
    display: inline-flex;
    justify-content: space-evenly;
}

section.contact {
    padding: 100px;
}

.contact .title.white.contact {
    position: relative;
    top: -95px;
}

.contact .ligne .title.white {
    width: 200px;
    height: 150px;
}

.contact .title.white a {
    text-decoration: none;
    color: #fff;
}

.contact .title.white p {
    display: block;
    height: 60px;
}

.contact .title.white img {
    width: 70px;
}

.contact .title.white button {
    background-color: black;
    border: none;
    cursor: pointer;
}

.contact .title.white button::before {
    content: 'Copier';
    position: absolute;
    color: #4b9fcc;
    padding: 40px 0 1px 23px;
    letter-spacing: -1px;
    font-style: italic;
}

.title.white input {
    background-color: black;
    color: white;
    border: none;
    text-align: center;
    width: 100%;
}

/******* RESPONSIVE **********/
@media (max-width: 1300px) {
    section.banner {
        height: 1000px;
        font-size: 0.9em;
    }
    .banner .contentBx {
        height: 100%;
    }
}


@media (max-width: 991px) {
    .banner .imgSidebar {
        display: none;
    }
    .banner .contentBx, .sidebar {
        width: 100%;
        padding: 40px;
        height: 100%;
    }
    .logoText {
        left: 40px;
        top: 40px;
    }
    .toggle {
        right: 40px;
    }
    .sci {
        left: 40px;
        margin-top: 25px;
        bottom: 1px;
    }
    section {
        padding: 40px;
    }
    section.banner {
        font-size: 1em;
    }
    .about .content {
        flex-direction: column;
    }
    .about .content .textBx {
        min-width: 100%;
        width: 100%;
    }
    .about .content {
        margin-top: 100px;
    }
    .about .content .picto {
        bottom: -10px;
    }
    .about .content hr.trait {
        bottom: -70px;
    }
    .about .content .exp .gauche {
        width: 100%;
        margin-bottom: 30px;
    }
    .about .content .exp .droite {
        width: 100%;
    }
    .about .content .exp {
        display: block;
    }
    .about .content .text_exp, .about .content .icon_exp {
        width: 100%;
    }
    .sidebar ul li a {
       font-size: 1.5em;
    }
    .work .bdp .content {
        padding-bottom: 60px;
    }
}


@media (max-width: 500px) {

    h2 {
        font-size: 1.1em;
    }

    .banner {
        min-height: 1280px;
    }
    .banner .contentBx {
        max-width: 100%;
        height: 1260px;
    }
    .banner .contentBx h4.debut {
        padding-top: 30px;
    }
    .banner .contentBx a {
        margin-bottom: 30px;
    }
    .work .bdp {
        padding-top: 5vh;
    }
    .work .bdp .content {
        justify-content: space-between;
        padding-bottom: 60px;
    }
    .work .bdp .pictoBx h4 {
        display: none;
    }
    .work .bdp .pictoBx i {
        font-size: xx-large;
    }
    .about .content .picto {
        padding-top: 60px;
        bottom: 0;
    }
    .about .content .picto img {
        max-width: 90px;
        max-height: 50px;
    }
    .about .content hr.trait {
        display: none;
    }
    section.about {
        padding: 30px 17px;
    }
    section.contact {
        padding: 0;
    }
    .about .content {
        margin-top: 50px;
    }
    .about .content .text_exp {
        padding: 2px;
        font-size: 1em;
        text-justify: inter-word;
    }
    .about .content .exp {
        display: block;
    }
    .about .content .text_exp, .about .content .icon_exp {
        width: 100%;
    }
    .drop {
        width: 75px;
        height: 75px;
        margin: 15px 10px;
    }
    .drop:hover .text_drop, .drop:active .text_drop, .drop:hover .image_icon .text_drop, .drop:active .image_icon .text_drop {
        font-size: 15px;
    }
    .contact .ligne {
        font-size: 0.9em;
        display: block;
        align-self: center;
    }
    .contact .ligne .title.white {
        height: 80px;
        margin-bottom: 50px;
        font-size: 0.9em;
    }
    .contact .ligne .title.white p {
        margin: 0;
    }
    .contact h2 {
        padding-top: 40px;
    }
}


@media (max-width: 390px) {
    section.banner,
    section.about {
        min-height: 900px;
        font-size: 13px;
    }

    .banner .contentBx {
        max-width: 100%;
        height: 100%;
    }
    .drop:hover .text_drop, .drop:active .text_drop, .drop:hover .image_icon .text_drop, .drop:active .image_icon .text_drop {
        font-size: 15px;
    }
}